@use '@angular/material' as mat;
@use 'mixins' as *;

.button__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include normal-text;
  cursor: pointer;

  &.disabled {
    opacity: 0.26;
    cursor: not-allowed;
  }
}
