@use 'mixins' as *;

:host {
  display: flex;

  &.center {
    justify-content: center;
  }

  &.start {
    justify-content: start;
  }

  &.end {
    justify-content: end;
  }
}

button {
  @include normal-text;
}
