<div class="field__outer" [class.is-last]="isLast()">
  <div class="field__header">
    <div class="field__controls-aside">
      <div class="mb-10">
        <mat-icon class="field__controls-arrow up" [class.disabled]="isFirst()"
          >arrow_upward_alt</mat-icon
        >
      </div>
      <div>
        <mat-icon
          class="field__controls-arrow down"
          [class.disabled]="isLast()"
        >
          arrow_downward_alt
        </mat-icon>
      </div>
    </div>
    <label
      [for]="id"
      class="field__controls-label"
      contenteditable
      (input)="onTitleChange($event)"
      >{{title()}}</label
    >
    <div class="field__controls-end">
      <div class="field__controls-required">
        <input type="checkbox" id="required-{{id}}" name="required-{{id}}" />
        <label for="required-{{id}}" class="ml-2">Required</label>
      </div>
      <div class="field__controls-remove ml-5">
        <mat-icon>delete_forever</mat-icon>
      </div>
    </div>
  </div>
  <div class="field__body">
    <input
      [id]="id"
      class="field__controls-input"
      type="text"
      [placeholder]="placeholder()"
    />
  </div>
  <div class="field__fooler"></div>
</div>
