@use '@angular/material' as mat;
@use 'mixins' as *;

.field__outer {
  padding: 20px 26px 20px 80px;
  border: 1px solid var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-on-primary);
  border-radius: var(--mat-sys-corner-medium);
  min-height: 150px;

  &:hover {
    border-color: var(--mat-sys-primary);
  }
}

.field__header {
  position: relative;
  margin-bottom: 10px;
}

.field__controls-aside {
  position: absolute;
  cursor: pointer;
  left: -55px;
  top: 0;
}

.field__controls-label {
  @include medium-text;
}

.field__controls-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.field__header,
.field__controls-end,
.field__controls-required {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include normal-text;
}

.field__controls-required {
  &,
  label,
  input {
    cursor: pointer;
  }
}

.field__controls-input {
  &:focus {
    outline: none;
  }
}
