<mat-toolbar class="header">
  <h1 class="header__title">
    <mat-icon
      class="header__title__icon mr-10"
      aria-hidden="false"
      aria-label="home icon"
      fontIcon="home"
    ></mat-icon>
    Form Builder
  </h1>
  <div class="header__controls">
    <mat-button-toggle-group
      [formControl]="theme"
      (change)="setSelectedTheme(theme)"
      aria-label="App theme"
      hideSingleSelectionIndicator="true"
    >
      @for (theme of themeService.getThemes(); track theme.name) {
      <mat-button-toggle [value]="theme">
        <mat-icon class="theme-icon">{{ theme.icon }}</mat-icon>
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
</mat-toolbar>
