<mat-toolbar class="header transition-shadow" appOnWindowScroll>
  <div class="container">
    <div class="header__outer">
      <div class="header__title">
        @if(router.url === '/') {
        <ng-template [ngTemplateOutlet]="headerIcon"></ng-template>
        Form Builder }@else {
        <a routerLink="/" class="header__link">
          <ng-template [ngTemplateOutlet]="headerIcon"></ng-template>
          Form Builder
        </a>
        }
      </div>
      <div class="header__controls">
        <mat-button-toggle-group
          [formControl]="theme"
          (change)="setSelectedTheme(theme)"
          aria-label="App theme"
          hideSingleSelectionIndicator="true"
        >
          @for (theme of themeService.getThemes(); track theme.name) {
          <mat-button-toggle [value]="theme">
            <mat-icon class="theme-icon">{{ theme.icon }}</mat-icon>
          </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</mat-toolbar>

<ng-template #headerIcon>
  <mat-icon
    class="header__title__icon mr-5"
    aria-hidden="false"
    aria-label="home icon"
    fontIcon="home"
  ></mat-icon>
</ng-template>
