@use "@angular/material" as mat;
@use "mixins" as *;

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-on-primary),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
    )
  );
}

.header {
  height: var(--h-header);
  position: fixed;
  top: 0;
  z-index: 5;
}

.header__title {
  @include flex-center;
  @include title;
}

.header__title__icon {
  font-size: 3.5rem;
  width: auto;
  height: 100%;
}
