@use "@angular/material" as mat;
@use "../../../styles/mixins" as mixin;

.form__card {
  overflow: hidden;
}

.form__card__header {
  padding: 0;
  flex-direction: column;
  border-bottom: 1px solid var(--mat-sys-primary);
  background-color: var(--mat-sys-on-primary);
}

.form__header_field {
  padding: 16px;
  @include mixin.medium-text;

  &:last-child {
    padding-bottom: 50px;
    @include mixin.normal-text;
  }
}

.form__card__content {
  padding: 0;
}
