@use "@angular/material" as mat;
@use "mixins" as *;

.form__card {
  overflow: hidden;
}

.form__card__header {
  padding: 0;
  flex-direction: column;
  border-bottom: 1px solid var(--mat-sys-primary);
  background-color: var(--mat-sys-on-primary);
}

.form__header_field {
  padding: 16px;
  @include medium-text;

  &:last-child {
    padding-bottom: 50px;
    @include normal-text;
  }
}

.form__card__content {
  padding: 16px 0;
}
