<mat-card class="form__card" appearance="outlined">
  <mat-card-header class="form__card__header">
    <form [formGroup]="aboutForm()">
      @for (formField of formBuilderService.initialFormFieldDefinitionsList(); track formField.id) {
        @if (formField.type === FieldType.Text) {
          <div class="form__header_field">
            <input
              matInput
              [id]="formField.id"
              class="w-full field__controls-input"
              type="text"
              [placeholder]="formField.label"
              [formControlName]="formField.id"
            />
          </div>
        }

        @if (formField.type === FieldType.Textarea) {
          <div class="form__header_field">
            <textarea
              class="w-full field__controls-input"
              type="text"
              [placeholder]="formField.label"
              [formControlName]="formField.id"
              [id]="formField.id"
              rows="5"
            ></textarea>
          </div>
        }
      }
    </form>
  </mat-card-header>
  <mat-card-content class="form__card__content">
    <form [formGroup]="form()">
      <ul
        cdkDropList
        [cdkDropListData]="formBuilderService.buildedFormFieldDefinitionsList()"
        (cdkDropListDropped)="onFieldTypeDropped($event)"
        [class.empty-list]="!formBuilderService.formFieldsList().length"
      >
        @if (!formBuilderService.formFieldsList().length) {
          <li class="subheader tracking-wide transition-all">Form fields will be displayed here</li>
        } @else {
          @for (
            formField of formBuilderService.formFieldsList();
            track formField.id;
            let index = $index;
            let first = $first;
            let last = $last
          ) {
            <li cdkDrag [cdkDragDisabled]="true" class="form__card__item">
              <app-editable-form-field
                [form]="form()"
                [formField]="formField"
                [isFirst]="first"
                [isLast]="last"
                (onMoveUp)="moveFieldPosition(index, index - 1)"
                (onMoveDown)="moveFieldPosition(index, index + 1)"
              />
            </li>
          }
        }
      </ul>
    </form>
  </mat-card-content>
</mat-card>
