@use '@angular/material' as mat;
@use 'mixins' as *;

.form__header_field {
  padding: 16px;
  @include medium-text;

  &:last-child {
    padding-bottom: 50px;
    @include normal-text;
  }
}

.form__card__content {
  padding-top: 16px;
  background: var(--mat-sys-surface);
}

.form__card__item:not(:last-child) {
  margin-bottom: 16px;
}
