@use "@angular/material" as mat;
@use "../../../styles/mixins" as mixin;

.section {
  display: flex;
}

.section__toolbar {
  width: 45%;
  min-width: 50rem;
  height: max-content;
  padding: 15px;
  gap: 50px;
}

.section__form {
  width: 100%;
  padding: 15px;
}

.form__card {
  min-height: 50rem;
}

.form__card__header {
  padding: 0;
  flex-direction: column;
}

.form__field {
  width: 100%;
  @include mixin.normal-text;
}
