@use "@angular/material" as mat;
@use "../../../styles/mixins" as mixin;

.subheader {
  @include mixin.medium-text;
  padding: 2rem 0;
  text-align: center;
}

.section {
  display: flex;
}

.section__toolbar {
  width: 45%;
  min-width: 50rem;
  height: max-content;
  padding: 15px;
  gap: 50px;
}

.section__form {
  width: 100%;
  padding: 15px;
}

.form__card {
  overflow: hidden;
}

.form__card__header {
  padding: 0;
  flex-direction: column;
  border-bottom: 1px solid var(--mat-sys-primary);
  background-color: var(--mat-sys-on-primary);
}

.form__header_field {
  padding: 16px;
  @include mixin.medium-text;

  &:last-child {
    padding-bottom: 50px;
    @include mixin.normal-text;
  }
}

.form__card__content {
  padding: 0;
}
