@if (buildModeService.mode() === Mode.Preview) {
  <mat-label [attr.for]="formField().id">{{ formField().label | semicolon }}</mat-label>
  <div [formGroup]="form()">
    @for (option of formField().options; let i = $index; track i) {
      <mat-checkbox class="field__input" formControlName="option-{{ formField().id }}-{{ i }}">{{
        option
      }}</mat-checkbox>
      <br />
    }
  </div>
}

@if (buildModeService.mode() === Mode.Edit) {
  <div class="field__outer" [formGroup]="checkboxControlsForm()">
    @for (option of formField().options; let i = $index; track i) {
      <div class="field__option-outer">
        <mat-form-field class="w-full field__input">
          <input
            appAutofocus
            matInput
            class="w-full field__controls-input"
            type="text"
            placeholder="Option {{ i + 1 }}"
            formControlName="option-{{ formField().id }}-{{ i }}"
          />
        </mat-form-field>
        <app-button-icon
          [iconType]="Icon.Delete"
          [disabled]="!removeOptionEnabled()"
          (onButtonClick)="removeOptionHandler(i)"
        />
      </div>
    }
    <app-plain-button class="end" title="Add option" (onButtonClick)="addCheckboxOption($event)" />
  </div>
}
