@if (buildModeService.mode() === Mode.Preview) {
  <div [formGroup]="form()">
    @for (value of formField().choices; track value.id) {
      <mat-checkbox class="field__input" [formControlName]="formField().id">{{
        value.choice
      }}</mat-checkbox>
    }
  </div>
}

@if (buildModeService.mode() === Mode.Edit) {
  <div class="field__outer" [formGroup]="checkboxControlsForm()">
    @for (choice of formField().choices; let i = $index; track choice.id) {
      <div class="field__option-outer">
        <mat-checkbox class="field__controls-label" formControlName="checked-{{ choice.id }}" />

        <mat-form-field class="w-full field__input">
          <input
            matInput
            class="w-full field__controls-input"
            type="text"
            placeholder="Option {{ i + 1 }}"
            formControlName="choice-{{ choice.id }}"
          />
        </mat-form-field>
        <app-remove-button (onFieldRemove)="removeOptionHandler(choice.id)" />
      </div>
    }
    <div class="field__option-btn">
      <button matButton="filled" (click)="addCheckboxOption($event)">Add option</button>
    </div>
  </div>
}
