@use '@angular/material' as mat;

@include mat.core();

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-light {
  font-family: inherit;
  font-weight: 300;
}

@mixin font-normal {
  font-family: inherit;
  font-weight: 400;
}

@mixin font-bold {
  font-family: inherit;
  font-weight: 600;
}

@mixin title {
  @include font-bold;
  font-size: 3rem;
}

@mixin medium-text {
  @include font-bold;
  font-size: 2rem;
}

@mixin normal-text {
  @include font-normal;
  font-size: 1.6rem;
}

@mixin normal-bold-text {
  @include font-bold;
  font-size: 1.8rem;
}

@mixin small-text {
  @include font-light;
  font-size: 1.2rem;
}

@mixin shadow {
  box-shadow: var(--mat-sys-level2);
}
