@use "@angular/material" as mat;

@include mat.core();

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-light {
  font-weight: 300;
}

@mixin font-normal {
  font-weight: 400;
}

@mixin font-bold {
  font-weight: 600;
}

@mixin title {
  @include font-bold;
  font-size: 3rem;
}

@mixin medium-text {
  @include font-bold;
  font-size: 2rem;
}

@mixin normal-text {
  @include font-normal;
  font-size: 1.6rem;
}

@mixin smal-text {
  @include font-light;
  font-size: 1.2rem;
}
