@use "@angular/material" as mat;
@use "../../../styles/mixins" as mixin;

.card__toolbar__title {
  @include mixin.medium-text;
  text-align: center;
  padding-bottom: 15px;
  width: 100%;
}

.card___toolbar__content {
  gap: 15px;
}
