<mat-card class="form__card" appearance="outlined">
  <mat-card-header class="form__card__header">
    @for (formInfo of formBuilder.initialFormFieldDefinitionsList(); track formInfo.id) {
      @if (formInfo.type === FieldType.Text) {
        <mat-card-title>{{ formInfo.value || 'Untitled Form' }}</mat-card-title>
      }

      @if (formInfo.type === FieldType.Textarea && formInfo.value) {
        <mat-card-subtitle>{{ formInfo.value }}</mat-card-subtitle>
      }
    }
  </mat-card-header>
  <mat-card-content class="form__card__content">
    <form [formGroup]="form()" (ngSubmit)="onSubmit()">
      <ul>
        @for (formField of formBuilder.formFieldsList(); track formField.id) {
          <li class="form__card__list__item">
            <ng-container
              [ngComponentOutlet]="formField.component"
              [ngComponentOutletInputs]="{
                form: form(),
                formField,
              }"
            ></ng-container>
          </li>
        }
      </ul>
    </form>
  </mat-card-content>
</mat-card>
<app-plain-button
  title="Submit"
  position="center"
  (onButtonClick)="onSubmit()"
  [disabled]="!form().valid"
/>
