@use "./styles/themes";
@use "./styles/mixins" as mixin;
@use "./styles/tailwind.css";

:root {
  --h-header: 65px;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.subheader {
  @include mixin.medium-text;
  padding: 2rem 0;
  text-align: center;
}
