@use "./styles/mixins";
@use "./styles/themes";

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

//helpers
.mr-xs {
  margin-right: 0.5rem;
}

.ml-xs {
  margin-left: 0.5rem;
}

.mt-xs {
  margin-top: 0.5rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.mr-small {
  margin-right: 1rem;
}

.ml-small {
  margin-left: 1rem;
}

.mr-medium {
  margin-right: 1.5rem;
}

.ml-medium {
  margin-left: 1.5rem;
}

[contenteditable] {
  &:focus {
    outline: none;
  }
}
