@use "themes";
@use "mixins" as *;
@use "tailwind";

:root {
  --h-header: 65px;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Roboto, monospace;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.subheader {
  @include medium-text;
  padding: 2rem 0;
  text-align: center;
}

.shadow {
  @include shadow;
}

.cdk-drop-list-dragging {
  .field__outer:hover,
  .subheader {
    background-color: var(--mat-sys-on-primary);
    border: 1px solid var(--mat-sys-primary);
    border-radius: var(--mat-sys-corner-small);
    transform: scale(0.98);
  }
}

.cdk-drag-placeholder {
  height: 75px;
  margin: 16px auto;
  border: 1px dashed var(--mat-sys-on-tertiary);
  background-color: var(--mat-sys-tertiary);
  border-radius: var(--mat-sys-corner-medium);
  transition: height 0.2s ease-in;
}

mat-checkbox .mdc-label,
mat-label {
  @include normal-text;
}

// Style to fix the weird border with angular material
.mdc-notched-outline__notch {
  border-right: none !important;
}
