@use '@angular/material' as mat;
@use 'mixins' as *;

.field__select {
  @include mat.select-overrides(
    (
      trigger-text-size: 1.6rem,
      trigger-text-font: inherit,
      trigger-text-weight: 400,
    )
  );
}

.field__selection-outer {
  @include flex-center;
  margin-bottom: 16px;
}
