@if (buildModeService.mode() === Mode.Preview) {
  <ng-container [ngTemplateOutlet]="selectField"></ng-container>
}

@if (buildModeService.mode() === Mode.Edit) {
  <ng-container [ngTemplateOutlet]="selectField"></ng-container>
  <div class="field__outer mt-6" [formGroup]="selectControlsForm()">
    @for (option of formField().options; let i = $index; track i) {
      <div class="field__option-outer">
        <mat-form-field class="w-full field__input">
          <input
            appAutofocus
            matInput
            class="w-full field__controls-input"
            type="text"
            placeholder="Option {{ i + 1 }}"
            formControlName="option-{{ formField().id }}-{{ i }}"
          />
        </mat-form-field>
        <app-button-icon
          [iconType]="Icon.Delete"
          [disabled]="!removeOptionEnabled()"
          (onButtonClick)="removeOptionHandler(i)"
        />
      </div>
    }
    <app-plain-button title="Add option" (onButtonClick)="addSelectOption($event)" class="end" />
  </div>
}

<ng-template #selectField>
  <mat-form-field class="field__input select" [formGroup]="form()">
    <mat-label [attr.for]="formField().id">{{ formField().label }}</mat-label>
    <mat-select [id]="formField().id" class="field__select" [required]="formField().required">
      <mat-option>-</mat-option>
      @for (selection of formField().options; track selection) {
        @if (selection) {
          <mat-option class="field__select__option" [value]="selection">{{ selection }}</mat-option>
        }
      }
    </mat-select>
  </mat-form-field>
</ng-template>
