@if (buildModeService.mode() === Mode.Preview) {
  <ng-container [ngTemplateOutlet]="selectField"></ng-container>
}

@if (buildModeService.mode() === Mode.Edit) {
  <ng-container [ngTemplateOutlet]="selectField"></ng-container>
  <div class="field__outer mt-6" [formGroup]="selectControlsForm()">
    @for (option of formField().options; let i = $index; track option.id) {
      <div class="field__option-outer">
        <mat-form-field class="w-full field__input">
          <input
            matInput
            class="w-full field__controls-input"
            type="text"
            placeholder="Option {{ i + 1 }}"
            formControlName="option-{{ option.id }}"
          />
        </mat-form-field>
        <app-button-icon
          [iconType]="Icon.Delete"
          (onButtonClick)="removeOptionHandler(option.id)"
        />
      </div>
    }
    <app-plain-button title="Add option" position="end" (onButtinClick)="addSelectOption($event)" />
  </div>
}

<ng-template #selectField>
  <mat-form-field class="field__input" [formGroup]="form()">
    <mat-label [attr.for]="formField().id">{{ formField().label }}</mat-label>
    <mat-select [id]="formField().id" class="field__select">
      @for (selection of formField().options; track selection.option) {
        <mat-option class="field__select__option" [value]="selection.option">{{
          selection.option
        }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</ng-template>
